<!DOCTYPE html>
<html>
<head>
    <style>
        .covered {
            background-color: green
        }

        .none {
            background-color: indianred
        }

        .partial {
            background-color: yellow
        }
    </style>
</head>
<body>
{{#each blocks}}
    <pre class="{{type}}">{{content}}</pre>
{{/each}}
</body>
</html>
